@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

body{
    background-color: #7f5539;
}
.title{
    background-color: #ddb892;
    text-align: center;
    font-family: 'Twinkle Star', cursive;
    color: #7f5539;
}
p{
    color: #ddb892;
}
.Rezept {
    border: none;
    color: #7f5539;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #ddb892;
  }
  .Home {
    border: none;
    color: #7f5539;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #ddb892;
  }
  .Impressum {
    border: none;
    color: #7f5539;
    padding: 15px 32px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #ddb892;
  }
  hr{
      color: #ddb892;
  }