
@import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');

.title{
    background-color: #ddb892;
    text-align: center;
    font-family: 'Twinkle Star', cursive;
    color: #7f5539;
}